<?xml version="1.0" encoding="utf-8"?>
<manifest package="marlon.souza.todo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="23"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.ToDoApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".receiver.AgendamentoDeleteReceiver">
            <intent-filter>
                <action android:name="marlon.souza.todo.DELETE_AGENDAMENTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AgendamentoReceiver">
            <intent-filter>
                <action android:name="marlon.souza.todo.ALARM_AGENDADO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.RefreshListReceiver">
            <intent-filter>
                <action android:name="marlon.souza.todo.REFRESH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
